@model IEnumerable<NewsViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Featured News</h2>
    </div>
</div>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-4">
            @await Html.PartialAsync("_NewsComponent", item)
        </div>
    }
</div>

@section scripts{
    <script src="/.temp/homebundle.js"></script>
}
