@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Featured News</h2>
        <ul>
            <li>News 1</li>
            <li>News 2</li>
        </ul>
    </div>
</div>
