@model IEnumerable<NewsViewModel>

@{
    ViewData["Title"] = "Search";
}

<h2>Search Results for: <strong contenteditable="true" id="searchTerm">@ViewBag.SearchTerm</strong></h2>
<br />
<form class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-sm-2" for="year">Published Year</label>
        <div class="col-sm-4">
            <select id="ddl-years" class="form-control">
                <option value="">Select Year</option>
                <option value="2018">2018</option>
                <option value="2017">2017</option>
                <option value="2016">2016</option>
            </select>
        </div>
    </div>
</form>
<hr />
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6">
            <partial name="~/Views/Shared/_NewsComponent.cshtml" model="item" />
        </div>
    }
</div>

@section scripts {
    <script src="/.temp/search.bundle.js"></script>
}


